# NOTE: Requires **VS2019 16.3** or later

# My Rules
# Description: Description here.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.SA0001.severity = none

# Using directive for 'System' must appear before
dotnet_diagnostic.SA1000.severity = error

dotnet_diagnostic.SA1001.severity = error

dotnet_diagnostic.SA1002.severity = error

dotnet_diagnostic.SA1003.severity = error

dotnet_diagnostic.SA1004.severity = error

dotnet_diagnostic.SA1005.severity = error

dotnet_diagnostic.SA1006.severity = error

dotnet_diagnostic.SA1007.severity = error

dotnet_diagnostic.SA1008.severity = error

dotnet_diagnostic.SA1010.severity = error

dotnet_diagnostic.SA1011.severity = error

dotnet_diagnostic.SA1012.severity = error

dotnet_diagnostic.SA1013.severity = error

dotnet_diagnostic.SA1014.severity = error

dotnet_diagnostic.SA1015.severity = error

dotnet_diagnostic.SA1016.severity = error

dotnet_diagnostic.SA1017.severity = error

dotnet_diagnostic.SA1018.severity = error

dotnet_diagnostic.SA1019.severity = error

dotnet_diagnostic.SA1020.severity = error

dotnet_diagnostic.SA1021.severity = error

dotnet_diagnostic.SA1022.severity = error

dotnet_diagnostic.SA1023.severity = error

dotnet_diagnostic.SA1024.severity = error

dotnet_diagnostic.SA1025.severity = error

dotnet_diagnostic.SA1026.severity = error

dotnet_diagnostic.SA1027.severity = none

dotnet_diagnostic.SA1028.severity = error

dotnet_diagnostic.SA1100.severity = error

# Field must not begin with an underscore
dotnet_diagnostic.SA1101.severity = none

dotnet_diagnostic.SA1102.severity = error

dotnet_diagnostic.SA1103.severity = error

dotnet_diagnostic.SA1104.severity = error

dotnet_diagnostic.SA1105.severity = error

dotnet_diagnostic.SA1106.severity = error

dotnet_diagnostic.SA1107.severity = error

dotnet_diagnostic.SA1108.severity = error

dotnet_diagnostic.SA1109.severity = error

dotnet_diagnostic.SA1110.severity = error

dotnet_diagnostic.SA1111.severity = error

dotnet_diagnostic.SA1112.severity = error

dotnet_diagnostic.SA1113.severity = error

dotnet_diagnostic.SA1114.severity = error

dotnet_diagnostic.SA1115.severity = error

dotnet_diagnostic.SA1116.severity = error

dotnet_diagnostic.SA1117.severity = error

dotnet_diagnostic.SA1118.severity = none

dotnet_diagnostic.SA1119.severity = error

dotnet_diagnostic.SA1120.severity = error

dotnet_diagnostic.SA1121.severity = error

dotnet_diagnostic.SA1122.severity = error

# Regions must not be used
dotnet_diagnostic.SA1123.severity = error

# Tabls must not be used
dotnet_diagnostic.SA1124.severity = error

dotnet_diagnostic.SA1126.severity = error

dotnet_diagnostic.SA1127.severity = error

dotnet_diagnostic.SA1133.severity = error

dotnet_diagnostic.SA1137.severity = error

# Code header
dotnet_diagnostic.SA1200.severity = none

dotnet_diagnostic.SA1201.severity = error

dotnet_diagnostic.SA1202.severity = error

dotnet_diagnostic.SA1203.severity = error

dotnet_diagnostic.SA1204.severity = none

dotnet_diagnostic.SA1205.severity = error

dotnet_diagnostic.SA1206.severity = error

dotnet_diagnostic.SA1207.severity = error

dotnet_diagnostic.SA1208.severity = error

# Using directive must appear within a namespace declaration
dotnet_diagnostic.SA1210.severity = none

dotnet_diagnostic.SA1300.severity = error

dotnet_diagnostic.SA1302.severity = error

dotnet_diagnostic.SA1303.severity = error

dotnet_diagnostic.SA1304.severity = error

# Using directive must be ordered alphabetically by namespaces
dotnet_diagnostic.SA1305.severity = none

dotnet_diagnostic.SA1306.severity = error

dotnet_diagnostic.SA1307.severity = error

# Enable XML output
dotnet_diagnostic.SA1309.severity = none

dotnet_diagnostic.SA1310.severity = error

dotnet_diagnostic.SA1311.severity = error

dotnet_diagnostic.SA1312.severity = error

dotnet_diagnostic.SA1313.severity = error

dotnet_diagnostic.SA1400.severity = error

dotnet_diagnostic.SA1401.severity = error

dotnet_diagnostic.SA1402.severity = error

dotnet_diagnostic.SA1403.severity = error

dotnet_diagnostic.SA1404.severity = error

dotnet_diagnostic.SA1405.severity = error

dotnet_diagnostic.SA1406.severity = error

dotnet_diagnostic.SA1407.severity = error

dotnet_diagnostic.SA1408.severity = error

dotnet_diagnostic.SA1409.severity = error

dotnet_diagnostic.SA1410.severity = error

dotnet_diagnostic.SA1411.severity = error

dotnet_diagnostic.SA1412.severity = none

dotnet_diagnostic.SA1413.severity = none

dotnet_diagnostic.SA1500.severity = error

dotnet_diagnostic.SA1501.severity = error

dotnet_diagnostic.SA1502.severity = error

dotnet_diagnostic.SA1503.severity = error

dotnet_diagnostic.SA1504.severity = error

dotnet_diagnostic.SA1505.severity = error

dotnet_diagnostic.SA1506.severity = error

dotnet_diagnostic.SA1507.severity = error

dotnet_diagnostic.SA1508.severity = error

dotnet_diagnostic.SA1509.severity = error

dotnet_diagnostic.SA1510.severity = error

dotnet_diagnostic.SA1511.severity = error

dotnet_diagnostic.SA1512.severity = error

dotnet_diagnostic.SA1513.severity = error

dotnet_diagnostic.SA1514.severity = error

dotnet_diagnostic.SA1515.severity = error

dotnet_diagnostic.SA1516.severity = none

dotnet_diagnostic.SA1517.severity = error

dotnet_diagnostic.SA1518.severity = error

dotnet_diagnostic.SA1519.severity = error

dotnet_diagnostic.SA1520.severity = error

dotnet_diagnostic.SA1600.severity = none

dotnet_diagnostic.SA1601.severity = none

dotnet_diagnostic.SA1602.severity = none

dotnet_diagnostic.SA1603.severity = error

dotnet_diagnostic.SA1604.severity = error

dotnet_diagnostic.SA1608.severity = error

dotnet_diagnostic.SA1609.severity = warning

dotnet_diagnostic.SA1610.severity = error

dotnet_diagnostic.SA1612.severity = error

dotnet_diagnostic.SA1613.severity = error

dotnet_diagnostic.SA1614.severity = error

dotnet_diagnostic.SA1615.severity = error

dotnet_diagnostic.SA1616.severity = error

dotnet_diagnostic.SA1617.severity = error

dotnet_diagnostic.SA1625.severity = error

dotnet_diagnostic.SA1626.severity = error

dotnet_diagnostic.SA1627.severity = error

# Prefix local call with this
dotnet_diagnostic.SA1633.severity = none

dotnet_diagnostic.SA1636.severity = error

dotnet_diagnostic.SA1642.severity = error

dotnet_diagnostic.SA1643.severity = error

dotnet_diagnostic.SA1644.severity = error

dotnet_diagnostic.SA1649.severity = error

# Regions must not be used within a code
dotnet_diagnostic.SA1652.severity = none

dotnet_diagnostic.SX1101.severity = error

dotnet_diagnostic.SX1309.severity = error
